<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" th:href="@{/assets/styles.css}" type="text/css"  />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>
<body>

<div id="app">
  <div class="nav-bar"></div>

  <div class="cart">Cart({{ cart }})</div>

  <div class="product-display">
    <div class="product-container">
      <div class="product-image">
<!--        <img :src="image"> v-bind shorthand-->
        <img :class="{ 'out-of-stock-img': !inStock }" v-bind:src="image">
      </div>
      <div class="product-info">
        <!-- {{ }} 안에 valid javascript {{ v + ' ' + v }} {{ clicked ? true : false }} {{ message.method() }} -->
        <h1>{{ product }}</h1>
        <h1>{{ title }}</h1>
        <p>{{ sale }}</p>
        <p v-if="inStock">In Stock</p>
        <p v-else>Out of Stock</p>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>

        <ul>
          <li v-for="(size, index) in sizes" :key="index">{{ size }}</li>
        </ul>

        <!-- @ v-on shorthand-->
        <div
                v-for="variant in variants"
                :key="variant.id"
                @mouseover="updateImage(variant.image)"
                class="color-circle"
                :style="{ backgroundColor: variant.color }">
          {{ variant.color }}
        </div>

        <div
                v-for="(variant, index) in variants"
                :key="variant.id"
                @mouseover="updateVariant(index)"
                class="color-circle"
                :style="{ backgroundColor: variant.color }">
        </div>

        <button
                class="button"
                :class="{ disabledButton: !inStock }"
                :disabled="!inStock"
                v-on:click="addToCart">
          Add to Cart
        </button>

        <button class="button" @click="removeFromCart">Remove Item</button>

      </div>
    </div>
  </div>
</div>


<!-- Import App -->
<script th:src="@{/js/main.js}" ></script>

<!-- Mount App -->
<script>
  const mountedApp = app.mount('#app')
</script>
</body>
</html>