<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" th:href="@{/assets/styles.css}" type="text/css"  />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue-router@4.0.5/dist/vue-router.global.js"></script>

</head>
<body>

<div id="app">
  <div class="nav-bar"></div>
  <h1>{{ userget }}</h1>

  <p>
    <!-- use the router-link component for navigation. -->
    <!-- specify the link by passing the `to` prop. -->
    <!-- `<router-link>` will render an `<a>` tag with the correct `href` attribute -->
    <router-link to="/">Go to Home</router-link> //
    <router-link to="/about">Go to About</router-link> //
    <router-link :to="{ name: 'Users', params: { userId: '123' }}">User</router-link>


  </p>
  <!-- route outlet -->
  <!-- component matched by the route will render here -->
  <router-view></router-view>


</div>

<!-- Import Components -->
<script src="/components/user/user.js"></script>

<!-- Import App -->
<script th:src="@{/js/router.js}" ></script>
<script th:src="@{/js/main.js}" ></script>

<!-- Mount App -->
<script>
  app.use(router)
  app.mount('#app')
</script>
</body>
</html>