<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" th:href="@{/assets/styles.css}" type="text/css"  />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
</head>
<body>

<div id="app">
  <div class="nav-bar"></div>

  <!-- s - modal -->
  <div @click="displaymodal = true">모달열기</div>
  <div v-if="displaymodal == true" class="black-bg">
    <div class="white-bg">
      <h4>상세페이지</h4>
      <p>상세페이지내용임</p>
      <div @click="displaymodal = false">모달닫기</div>
    </div>
  </div>
  <!-- e - modal -->

  <!-- s - gif-box -->
  <div>
    <gif-box v-bind:gif="gif"></gif-box>
  </div>
  <!-- e - gif-box -->

<!--  <div class="cart">Cart({{ cart }})</div>-->
  <div class="cart">Cart({{ cart.length }})</div>
  <product-display
          :premium="premium"
          @add-to-cart="updateCart"
          @remove-from-cart="removeById">
  </product-display>
  <product-details :details="details"></product-details>
</div>

<!-- Import App -->
<script th:src="@{/js/main.js}" ></script>

<!-- Import Components -->
<script src="/components/ProductDisplay.js"></script>
<script src="/components/ProductDetails.js"></script>
<script src="/components/ReviewForm.js"></script>
<script src="/components/ReviewList.js"></script>
<script src="/components/GifBox.js"></script>


<!-- Mount App -->
<script>
  const mountedApp = app.mount('#app')
</script>
</body>
</html>